[submodule ".config/nvim"]
	path = ".config/nvim"
	url = "https://github.com/nvim-lua/kickstart.nvim.git"

[submodule ".config/kak/plugins/plug.kak"]
	path = ".config/kak/plugins/plug.kak"
	url = "https://github.com/andreyorst/plug.kak"

[submodule ".config/tmux/plugins/tpm"]
	path = ".config/tmux/plugins/tpm"
	url = "https://github.com/tmux-plugins/tpm.git"
    
[submodule ".config/tmux/plugins/tmux-gruvbox"]
	path = ".config/tmux/plugins/tmux-gruvbox"
	url = "https://github.com/egel/tmux-gruvbox"

[submodule ".config/tmux/plugins/tmux-resurrect"]
	path = ".config/tmux/plugins/tmux-resurrect"
	url = "https://github.com/tmux-plugins/tmux-resurrect"