* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 400;
    min-height: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background: rgba(20, 20, 20, .75);
    border-radius: 8px;
    color: #cba6f7;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
    color: #ffd700;
}

.modules-right {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

.modules-center {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

.modules-left {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

#workspaces button {
    color: #6e6a86;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#workspaces button.active {
    color: #33ccff;
}

#workspaces button.focused {
    color: #d8dee9;
}

#workspaces button.urgent {
    color: #ff0000;
}

#workspaces button:hover {
    color: #33ccff;
    border-color: transparent;
    background: none;
}

#backlight,
#battery,
#clock,
#idle_inhibitor,
#power-profiles-daemon,
#pulseaudio,
#tray,
#workspaces,
#custom-backlight,
#custom-power,
#custom-media {
    color: #e5d9f5;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 4px;
    padding-left: 4px;
}

@keyframes pulse {
    to {
        color: #ffffff;
    }
}

#custom-hypridle.notactive,
#idle_inhibitor.activated {
    color: #39ff14;
}

#battery.charging {
    color: #39ff14;
}

#battery.warning:not(.charging) {
    color: orange;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

box#pulseaudio,
box#battery {
    border-radius: 4px;
}

box#pulseaudio:hover,
box#battery:hover {
    background: #222;
}

#pulseaudio.microphone.muted {
    color: #ff5555;
}

#custom-power {
    color: white;
    /*transition-duration: 4s;
    transition-property: color;
    transition-timing-function: steps(4);*/
}

#custom-power:hover {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    color: blue;
}
